@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    background-color: red;
}

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

/* header and nav bar */

#title {
    font-size: 280%;
    margin-left: 10px;
    text-align: center;
    margin: 0;
    padding: 0;
}


#menu {
    background-color: black;
    padding: 10px;
    margin: 0px;
    width: 100%;
    position: relative;
    right: 10px;
}

#menu  li {
    list-style-type: none;
    display: inline;
    margin-right: 50px;
    text-align: center;
    background-color: gold;
    position: relative;
    left: 35%;
    font-size: 120%;
    padding: 10px;
}

#menu a {
    text-decoration: none;
}

#test {
    position:fixed;
    top: 150px;
    width: 100%;
    text-align: center;
    margin-right: 40%;
}

#video {
    position: fixed;
    bottom: 50px;
    left: 30%;
}

#paragrath {
    margin-right: 400px;
    margin-left: 400px;
}

p > a {
    text-decoration: none;
}